li {
    list-style-type: none;
}

.sidenav---sidenav---_2tBP {
    background-color: #0000ff !important;
    position: fixed !important;
}

.navbar-brand {
    font-size: 1.59rem;
    font-weight: 600;
    margin-left: 1%;
}

.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
}

.collection .collection-item:last-child {
    border-bottom: none;
}

.collection .collection-item.active {
    background-color: #26a69a;
    color: #eafaf9;
}

.collection .collection-item.active .secondary-content {
    color: #fff;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #26a69a;
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd;
}

.center {
    text-align: center;
}

.width-header {
    width: 70%;
}

.float-right {
    float: right;
}

.btn-modal-workflow {
    position: absolute;
    right: 80px;
    bottom: 50px;
    height: 60px;
    width: 60px;
}

.btn-primary{
    background-color: #0000ff;
}

.code-text{
    font-family: 'Courier New', monospace;
    text-align: justify;
    font-size: 0.8rem;
}
